asgiref==3.8.1
Django==5.1.2
django-admin-interface==0.29.2
django-colorfield==0.11.0
django-jazzmin==3.0.1
pillow==11.0.0
psycopg2-binary==2.9.10
python-slugify==8.0.4
pytils==0.4.1
sqlparse==0.5.1
text-unidecode==1.3
