{% extends '../base.html' %}
{% load static %}
{% block title %}{{ location.name }}{% endblock %}

{% block content %}
<section class="boards">
    <div class="container">
        <h2 class="title">Все объявления по городу {{ location.name }}</h2>
        {% if boards %}
        <div class="board-list">
            {% for board in boards %}
            <a href="{% url 'board_detail_page' pk=board.pk %}" class="board-item">
                <img src="{{ board.image.url }}" alt="{{ board.title }}" class="board-item__img">
                <h3 class="board-item__title">{{ board.title|truncatechars:22 }}</h3>
                <strong class="board-item__price">{{ board.price }} ₸</strong>
                <span class="board-item__location">{{ board.location }}</span>
            </a>
            {% endfor %}
        </div>
        <div class="center">
            <ul class="pagination">
                {% if boards.has_previous %}
                    <li class="pagination-item">
                        <a href="?page={{ boards.previous_page_number }}" class="pagination-item__link">
                            <img src="{% static 'images/left.svg' %}" alt="Previous">
                        </a>
                    </li>
                {% endif %}
            
                {% for page_num in boards.paginator.page_range %}
                    {% if boards.number == page_num %}
                        <li class="pagination-item">
                            <a href="?page={{ page_num }}" class="pagination-item__link current">{{ page_num }}</a>
                        </li>
                    {% elif page_num > boards.number|add:'-3' and page_num < boards.number|add:'3' %}
                        <li class="pagination-item">
                            <a href="?page={{ page_num }}" class="pagination-item__link">{{ page_num }}</a>
                        </li>
                    {% elif page_num == 1 or page_num == boards.paginator.num_pages %}
                        <li class="pagination-item">
                            <a href="?page={{ page_num }}" class="pagination-item__link">{{ page_num }}</a>
                        </li>
                    {% elif page_num == boards.number|add:'-4' or page_num == boards.number|add:'4' %}
                        <li class="pagination-item">...</li>
                    {% endif %}
                {% endfor %}
            
                {% if boards.has_next %}
                    <li class="pagination-item">
                        <a href="?page={{ boards.next_page_number }}" class="pagination-item__link">
                            <img src="{% static 'images/right.svg' %}" alt="Next">
                        </a>
                    </li>
                {% endif %}
            </ul>
            
        </div>
        {% else %}
        <div class="alert">
            <h3>Нет объявлений</h3>
            <p>По данной категории нет объявлений</p>
        </div>
        <div class="center">
            <a href="{% url 'categories_page' %}" class="btn is-primary">Все категории</a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}