{% extends '../base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="auth">
    <div class="container">
        <h2 class="title">Вход</h2>
        <form class="auth-form" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="auth-form__row">
                <button class="btn is-primary">Войти</button>
                <a href="{% url 'sign_up_page' %}" class="red-link">Вы новый пользователь?</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}